# /*****************************************************************************************************************/

#// @author         Michael Roberts <michael@observerly.com>
#// @package        @observerly/hyper
#// @license        Copyright © 2021-2023 observerly

#/*****************************************************************************************************************/

node-version=18.14.0
engine-strict=true

#/*****************************************************************************************************************/

registry=https://registry.npmjs.org/
@observerly:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

#/*****************************************************************************************************************/